/* Application-wide styles */
.app-container {
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
}

.header-icon {
  padding-right: 7px;
}

.auth-logout {
  height: 36px;
}

.auth-container {
  display: flex;
  flex-direction: column;
}

.auth-buttons {
  padding: 10px 0;
}

.login-input {
  width: 30vw;
  padding: 5px 0;
}

.packages-header {
  display: flex;
  justify-content: space-between;
}

.packages-checkin-button {
  height: 36px;
}

/* Check in popup styles */
.checkin-container {
  height: 30vh;
  padding: 3%;
}

.checkin-form {
  padding: 2%;
}

.checkin-resident {
  width: 300px;
}

.checkin-tracking {
  width: 300px;
}

.checkin-close {
  float: right;
}
